body{
	
}

header{
	padding: 20px 0;
	background: lightsteelblue;
}

.caixa{
	position: relative;
	width: 1100px;
	//margin: 0 auto;

}


nav{
	position: absolute;
	top: 110;
	right: 0;

}



nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	text-transform: uppercase;
	color: #000000;
	 font-weight: bold;
	 font-size: 22px;
	 text-decoration: none;

}

nav a:hover{
	color: firebrick;
	text-decoration: underline;
}


.produtos {
	width: 500px;
	margin: 0 auto;
	padding: 100px 0;


}

.produtos li{
	//display: inline-block;

	text-align: center;
	vertical-align: top;
	border-color: #000000;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;


}

.produtos li:hover{
	border-color: firebrick;
}

.produtos li:active{
	border-color: darkblue;
}

.produtos li:hover h2{
	font-size: 35px;
}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
	 background: lightsteelblue;

	 

}

.preço-produto{
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;
	margin-top: 10px;
}

footer{
	text-align: center;
	background: lightsteelblue;
}







